<form class="form" action="/login" method="POST">
<div class="col-10">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="Email-address">
  </div>
  <div class="col-10" id="pwdLogIn">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>

  <div class="col-12 button">
    <button type="submit" class="btn btn-primary">Log in</button>
  </div>
</form>