<div class="container-xxl" id="formContainer">
    <div class="container-lg">
        <h1 class="display-1">Log-in</h1>
        {{>login_form}}
    </div>
</div>
<div class="container-xxl">
<div class="container-sm">
  <div class="row">
    <div class="col text-center">
      <a href="/register" class="btn btn-outline-primary col-5 mt-2 ">Register</a>
    </div>
  </div>
</div>
</div>